<h3>Thank you for submitting your information</h3>
<br>
<div class="submit-record">
	<p>This is the information you included:</p>
	<br>
	<div class="submit-record-text">
		<p>Name: <%= surveyData.name %></p>	
		<p>e-mail address: <%= surveyData.email %></p>
		<p>Readability Score: <%= surveyData.read %></p>
		<p>Usability Score: <%= surveyData.usage %></p>
		<p>Functionality Score: <%= surveyData.funct %></p>
		<p>Comments: <%= surveyData.comment %></p>
		<p>Time: <%= surveyData.time %></p>
	</div> <!-- end submit-record-text class -->
</div> <!-- end submit-record class -->
