<h3>Thank you for submitting your information</h3>
<br>
<div class="submit-record">
	<p>This is the information you included:</p>
	<br>
	<div class="submit-record-text">
		<p><b>Name:</b> <%= surveyData.name %></p>	
		<p><b>e-mail address:</b> <%= surveyData.email %></p>
		<p><b>Readability Score:</b> <%= surveyData.read %></p>
		<p><b>Usability Score:</b> <%= surveyData.usage %></p>
		<p><b>Functionality Score:</b> <%= surveyData.funct %></p>
		<p><b>Comments:</b> <%= surveyData.comment %></p>
		<p><b>Time:</b> <%= surveyData.time %></p>
	</div> <!-- end submit-record-text class -->
</div> <!-- end submit-record class -->
